{% extends "buyer_homepage.html" %}
{% block head %}
  {{ super() }}

  <style type="text/css">
    .main_page{
			margin:20px 0px 0px 200px;
			border:1px solid;
			width: 60%;
			height: 600px;
			padding-left: 50px;
		}
	.btns{
		color: black;
		border-style: groove;
		border-radius: 5px;
		border-color: black;
		background-color: lightblue;
		text-decoration: none;
		width: 20%;
		height: 30px;
		font-size: 20px;
	}
  </style>
  {% for row in data %}
		 <script type="text/javascript">
	  		function CalcTotalCost() {
	  			var cost = '{{ row['price'] }}';
	  			var quantity = document.getElementById('quan').value;
	  			if(quantity > 0){
		  			Total_cost = cost*quantity;
		  			document.getElementById("demo2").innerHTML = Total_cost;
		  			var Delivery_charge = 50;
		  			document.getElementById('demo3').innerHTML = Total_cost+Delivery_charge;
	  			}
	  			else{
	  				alert("Please Select quantity greater than 0")
	  			}
	  			
	  		}
		</script>
  {% endfor %}
 
{% endblock %}
{% block content %}
	<div class="main_page">
		{% for row in data %}
		<form action="{{ url_for('confirm_order',product_id=row['product_id'],seller_id=row['seller_id']) }}" method="POST">
			<div class="product-div1" np-app=" ">
				<h2>Medicine Details</h2>
				<h3>{{row["medicine_name"]}}</h3>
		 		<p style="font-style: italic;">By <b>{{row["manufacturer"]}}</b></p>
		 		<p><b style="font-size: 20px;">Rs.<span id="demo">{{row["price"]}}</span></b>(per unit)</p>
		 			<input id="quan" type="number" name="quantity" placeholder="Enter quantity" onkeyup="CalcTotalCost()">
		 		<hr>
		 	</div>
		 	<div>
		 		<h2>Price details</h2>
		 		<p style="font-size: 20px;">Total Medicine price: <span id="demo2"></span></p>
		 		<p>Delivery charges: Rs.50</p>
		 		<p>Total Payable Amount: Rs.<span id="demo3"></span></p><hr><br>
		 	</div>
		 	<input class="btns" type="submit" name="submit" value="confirm order">
		 		
		</form>
			
			{% endfor %}
{% endblock %}