{% extends 'seller_homepage.html' %}
{% block head %}
	{{ super() }}
	<title>seller added products</title>
	<style>
		.choose-medicine{
			border: groove;
			border-radius: 15px;
			background-color: rgb(214, 194, 144);
			padding: 10px;
			color: black;
			width: 260px;
			height: 300px;
			padding: 20px;
			font-size: 20px;

		}
		.multiple-div{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
		}
		#update-link{
			color: blue;
			border:1px solid black;
			border-radius: 25px;
			padding: -10px;
			font-size: 20px;
			background-color:rgb(200,150,150);
		}
		#update-link:hover{
			font-size: 22px;
			color: black;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="multiple-div">
		 {% for row in data %}
		 	<div class="choose-medicine">
		 		<p><b>{{row["medicine_name"]}}</b></p>
		 		<p style="font-style: italic;">By <b>{{row["manufacturer"]}}</b></p>
		 		<p><b style="font-size: 20px;">Rs.{{row["price"]}}</b>(per unit)</p>
		 		<p><b>Stock: </b>{{row["stock"]}}</p>
		 		<p>Description:{{row['description']}}</p><br>
		 		<div>
		 			<a id="update-link" href="{{ url_for('update_medicine',product_id=row['product_id']) }}">Update Medicine</a>
		 		</div>
		 	</div>&nbsp,&nbsp
         {% endfor %}
		
{% endblock%}

