{% extends 'buyer_homepage.html' %}

{% block head %}
	{{ super() }}
	<style type="text/css">
		table{
			margin-top: 30px;
			text-align: left;
			margin-left: 100px;
		}
		.vline{
			border-left:1px solid black;
			height: 400px;
			margin-left: 150px;
		}
		tr,th,td{
			padding: 10px 20px 20px 20px;
			font-size: 18px;
			font-family: Arial;

		}
		a{
			text-decoration: none;
		}
		.profile{
			display: flex;
			flex-direction: row;
		}
		#edit-profile-link{
			float: right;
			margin-top: -40px;
			border:1px solid black;
			border-style: groove;
			border-radius: 5px;
			background-color: rgb(150, 153, 235);
			padding: 5px;

		}
		#view-order-link{
			float: right;
			margin-top: -40px;
			margin-right: 120px;
			border:1px solid black;
			border-style: groove;
			border-radius: 5px;
			background-color: rgb(150, 153, 235);
			padding: 5px;

		}
		#edit-profile-link:hover{
			border:1px solid rgb(150, 153, 235);
			background-color: black;
		}
	</style>
{% endblock %}
{% block content %}
	<div>
		<h1>My profile</h1>
		<a id="edit-profile-link" href="{{ url_for('edit_profile') }}">Edit Profile</a>
		<a id="view-order-link" href="{{ url_for('view_orders') }}">View Orders</a>
		<hr><hr>

		<div class="profile">
			<div class="vline"></div>
			<br><br>
			<div class="profile-div">
				<table>
				<tr>
					<th>Name: </th>
					<td>{{ data.name }}</td>
				</tr>
				<tr>
					<th>Email: </th>
					<td>{{ data.email }}</td>
				</tr>
				<tr>
					<th>Username: </th>
					<td>{{ data.username }}</td>
				</tr>
				<tr>
					<th>Mode: </th>
					<td>{{ data.mode }}</td>
				</tr>
				<tr>
					<th>Address: </th>
					<td>{{ data.address }}</td>
				</tr>
				<tr>
					<th>Mobile NUmber: </th>
					<td>{{ data.mobile_no }}</td>
				</tr>
				<tr>
					<th>About me: </th>
					<td>{{ data.about_me }}</td>
				</tr>
			</table>
			</div>
		</div><hr><hr>
	</div>
		
	<div>
		{% with profile_msgs=get_flashed_messages() %}
			{% if profile_msgs %}
				{% for msg in profile_msgs %}
					{{ msg }}
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
		
{% endblock%}

