+AHsAJQ extends +ACI-buyer+AF8-homepage.html+ACI +ACUAfQ

+AHsAJQ block head +ACUAfQ
	+AHsAew super() +AH0AfQ
	+ADw-style type+AD0AIg-text/css+ACIAPg
		.edit-profile+AHs
			width: 100+ACUAOw
		+AH0
		.edit-profile-label+AHs
			font-weight: bold+ADs
			color: blue+ADs
			font-size: 18px+ADs
		+AH0
		.edit-profile-field+AHs
			border:0.5px solid black+ADs	
			border-radius: 8px+ADs
			width: 70+ACUAOw
			padding: 5px+ADs
		+AH0
		form+AHs
			margin-left: 200px+ADs
		+AH0
		.heading-for-edit-profile+AHs
			margin-top: -20px+ADs	
			float: left+ADs
			width: 10+ACUAOw
		+AH0
		.edit-profile-form+AHs
			margin-top: 30px+ADs
			margin-left: 30px+ADs
		+AH0
		+ACM-edit-profile-btn+AHs
			width: 150px+ADs
			height: 30px+ADs
			border:1px solid black+ADs
			background-color: lightblue+ADs
			border-radius: 5px+ADs
			font-size: 18px+ADs
		+AH0
		+ACM-edit-profile-btn:hover+AHs
			border:1px solid blue+ADs
			background-color: black+ADs
			color: white+ADs
		+AH0
		a+AHs
			text-decoration: none+ADs
		+AH0
		table,th,td+AHs
			padding:10px+ADs
			text-align: left+ADs	
		+AH0
		td+AHs
			width: 500px+ADs
		+AH0
	+ADw-/style+AD4
+AHsAJQ endblock +ACUAfQ

+AHsAJQ block content +ACUAfQ
	+ADw-div class+AD0AIg-edit-profile+ACIAPg
		+ADw-div class+AD0AIg-heading-for-edit-profile+ACIAPg
			+ADw-h2+AD4-Edit profile+ADw-/h2+AD4
		+ADw-/div+AD4
		+ADw-div class+AD0AIg-edit-profile-form+ACIAPg
			+ADw-form action+AD0AIgAi method+AD0AIg-POST+ACI novalidate+AD4
				+AHsAew form.hidden+AF8-tag() +AH0AfQ
				+ADw-table+AD4
					+ADw-tr+AD4
						+ADw-th+AD4AewB7 form.name.label(class+AF8APQAi-edit-profile-label+ACI) +AH0AfQA8-/th+AD4
						+ADw-td+AD4AewB7 form.name(size+AD0-30,value+AD0-data.name,class+AF8APQAi-edit-profile-field+ACI) +AH0AfQA8-/td+AD4
					+ADw-/tr+AD4
					+ADw-tr+AD4
						+ADw-th+AD4AewB7 form.username.label(class+AF8APQAi-edit-profile-label+ACI) +AH0AfQA8-/th+AD4
						+ADw-td+AD4AewB7 form.username(size+AD0-30,value+AD0-data.username,class+AF8APQAi-edit-profile-field+ACI) +AH0AfQA8-/td+AD4
					+ADw-/tr+AD4
					+ADw-tr+AD4
						+ADw-th+AD4AewB7 form.email.label(class+AF8APQAi-edit-profile-label+ACI) +AH0AfQA8-/th+AD4
						+ADw-td+AD4AewB7 form.email(size+AD0-30,value+AD0-data.email,class+AF8APQAi-edit-profile-field+ACI) +AH0AfQA8-/td+AD4
					+ADw-/tr+AD4
					+ADw-tr+AD4
						+ADw-th+AD4AewB7 form.mobile+AF8-no.label(class+AF8APQAi-edit-profile-label+ACI) +AH0AfQA8-/th+AD4
						+ADw-td+AD4AewB7 form.mobile+AF8-no(size+AD0-30,value+AD0-data.mobile+AF8-no,class+AF8APQAi-edit-profile-field+ACI) +AH0AfQA8-/td+AD4
					+ADw-/tr+AD4
					+ADw-tr+AD4
						+ADw-th+AD4AewB7 form.address.label(class+AF8APQAi-edit-profile-label+ACI) +AH0AfQA8-/th+AD4
						+ADw-td+AD4AewB7 form.address(size+AD0-30,value+AD0-data.address,class+AF8APQAi-edit-profile-field+ACI) +AH0AfQA8-/td+AD4
					+ADw-/tr+AD4
					+ADw-tr+AD4
						+ADw-th+AD4AewB7 form.about+AF8-me.label(class+AF8APQAi-edit-profile-label+ACI) +AH0AfQA8-/th+AD4
						+ADw-td+AD4AewB7 form.about+AF8-me(size+AD0-30,value+AD0-data.about+AF8-me,class+AF8APQAi-edit-profile-field+ACI) +AH0AfQA8-/td+AD4
					+ADw-/tr+AD4
					+ADw-tr+AD4
						+ADw-th+AD4APA-/th+AD4
						+ADw-td+AD4AewB7 form.submit(id+AD0AIg-edit-profile-btn+ACI) +AH0AfQA8-/td+AD4
					+ADw-/tr+AD4
				+ADw-/table+AD4
			
		+ADw-/form+AD4

		+ADw-/div+AD4
		
	+ADw-/div+AD4	
+AHsAJQ endblock +ACUAfQ
