<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>Medicart</title>
	
	<link rel="stylesheet" href="/static/style.css">
	
</head>

<body>
	<header>
		<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="banner_content row">
					<div class="banner_data">
						<h1 style="color: black;">We Care for Your Health Every Moment</h1>
						<p style="color: black;">Medicine is a science of uncertanity and art of probability</p><br>
						<a style="text-decoration: none;" class="main_btn" href="{{ url_for('buyer_login') }}">I AM BUYER</a>
						<a style="text-decoration: none;" class="main_btn" href="{{ url_for('seller_login') }}">I AM SELLER</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</header>
<div class="about_site">
	<p><b>Medicart is online platform for online selling and purchasing the medicines.Many times patient is not able to go to medical and purchase the medicines so he/she can buy medicine from home.</b></p>
	<p><b>In this system medicine companies who wants to sell their product can add product to the system and make profit</b>.</p><br><br>
</div>
	
</body>

</html>