{% extends 'buyer_homepage.html' %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .product-div1{
			margin:150px 0px 0px 100px;
			border:1px solid;
			width: 25%;
			height: 250px;
			padding-left: 50px;
		}
	.btns{
		color: black;
		border-style: groove;
		border-radius: 5px;
		border-color: black;
		background-color: lightblue;
		text-decoration: none;
	}
	.main_page{
		display: flex;
		flex-direction: row;
	}
	a{
		text-decoration: none;
	}
  </style>
{% endblock %}
{% block content %}
<div>
	<div class="main_page">
		{% for row in data %}
			<div class="product-div1">
				<h2>{{row["medicine_name"]}}</h2>
		 		<p style="font-style: italic;">By <b>{{row["manufacturer"]}}</b></p>
		 		<p><b style="font-size: 20px;">Rs.{{row["price"]}}</b>(per unit)</p>
		 		<p><b>Available Stock: </b>{{row["stock"]}}</p><br>
		 		<a class="btns" href="{{ url_for('buy',product_id=row['product_id']) }}">Buy</a>
		 		<a class="btns" href="{{ url_for('add_to_cart',product_id=row['product_id']) }}">Add To Cart</a>
			</div>
			<div class="product-div1">
				<p><b>Description:</b> {{ row['description'] }}</p>
				<p><b>composition:</b> {{ row['composition'] }}</p>
				<p><b>Precaution:</b> {{ row['precaution'] }}</p>
			</div>
			{% endfor %}
	
	</div>
</div>
	
{% endblock %}