{% extends "seller_homepage.html" %}

{% block head %}
	{{ super() }}
	<title>profile</title>
	<style type="text/css">
		th,td{
			text-align: left;
			padding: 10px;
			font-size: 20px;
		}
		.seller-profile{
			display: flex;
			flex-direction: row;
		}
		.links a{
			color: black;
			border:1px solid black;
			border-style: groove;
			border-radius: 10px;
			background-color: rgb(47, 173, 83);
			color: black;

		}
		.links a:hover{
			background-color: green;
			color: white;
		}
		.links li{
			list-style-type: none;
			padding: 20px;
			height: 50px;

		}
		.vline{
			border-left:1px solid black;
			height: 400px;
			margin-left: 20px;
		}
		.seller-data{
			margin-left: 50px;
			margin-top: -100px;

		}
	</style>
{% endblock %}


{% block content %}
	<div>
		<h1>My profile</h1>
		<hr>
		<div class="seller-profile">
			<div class="links">
				<li><a href="{{ url_for('edit_profile') }}">Edit Profile</a></li>
			</div>
			<div class="vline"></div>
			<div class="seller-data">
				<table>
					<tr>
						<th>Name: </th>
						<td>{{ data.name }}</td><br>
					</tr>
					<tr>
						<th>Email: </th>
						<td>{{ data.email }}</td><br>
					</tr>
					<tr>
						<th>Username: </th>
						<td>{{ data.username }}</td><br>
					</tr>
					<tr>
						<th>Mode: </th>
						<td>{{ data.mode }}</td><br>
					</tr>
					<tr>
						<th>Company: </th>
						<td>{{ data.company_name }}</td><br>
					</tr>
					<tr>
						<th>Mobile Number: </th>
						<td>{{ data.mobile_no }}</td><br>
					</tr>
					<tr>
						<th>About me: </th>
						<td>{{ data.about_me }}</td><br>
					</tr>
				</table>
			</div>
		</div><hr>
	</div>
		
{% endblock %}
